h3 {
    color: #12050e;
    font-size: 40px;
    text-align: center;
}

hr {
    margin-right: 5px;
    color: #12050e;
}

.resultIcon {
    height: 20vh;
    border: 3px solid #12050e;
    border-radius: 8px;
    margin: 8px;
    /* float: left; */
}

.display {
    width: 50vh;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cca7c3;
    padding: 8px;
    padding-bottom: 5%;
    border: 3px solid #12050e;
    border-radius: 8px;
}

.teamImages {
    display: block;
    width: 80%;
    margin: auto;
}