.roles {
    padding: 0.6em 1.2em;
    margin: 0.2em;
    border: 0.16em solid rgba(255,0,255, 0);
    border-radius: 1em;
    box-sizing: border-box;
    font-weight: 600;
    color: ghostwhite;
}

.roles:hover {
    border: 0.16em solid ghostwhite;
}

.bigBadButton {
    font-size: 30px;
    background-color: pink;
    color: #0a090a;
}